html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: #1d2021;
    color: #ebdbb2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: #83a598;
}

h1:before {
    content: "*";
    padding-right: 10px;
}

h2 {
    color: #b8bb26;
}

h2:before {
    content: "**";
    padding-right: 10px;
}

li {
    color: #d3869b;
}

li:before {
    content: "***";
    padding-right: 10px;
}

ul {
    list-style-type: none;
    list-style-position: inside;
}

.emoji {
    font-family: 'helvetica neue', helvetica, sans-serif;
    font-size: 1.7rem;
}

@media screen and (min-width: 40rem) {
    html {
        font-size: 21px;
    }
}

main {
    margin-right: auto;
    margin-left: auto;
    max-width: 50rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}

a:link {
    color: #fb4934;
}
a:visited {
    color: #fb4934;
}