html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: #282828;
    color: #ebdbb2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: #83a598;
}

h1:before {
    content: "*";
    padding-right: 10px;
}

h2 {
    color: #b8bb26;
}

h2:before {
    content: "**";
    padding-right: 10px;
}

li {
    color: #d3869b;
}

li:before {
    content: "***";
    padding-right: 10px;
}

ul {
    list-style-type: none;
    list-style-position: inside;
}

.emoji {
    font-family: 'helvetica neue', helvetica, sans-serif;
}

@media screen and (min-width: 40rem) {
    html {
        font-size: 21px;
    }
}

main {
    margin-right: auto;
    margin-left: auto;
    max-width: 50rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

article {
    border-color: #333333;
    border-bottom-style: solid;
    border-bottom-width: 0.005rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

footer {
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
}

a:link {
    color: #fb4934;
}
a:link.light-blue {
    color: #00449E; 
}
a:visited {
    color: rgb(191,90,242);
}
a:visited.light-blue {
    color: #5E2CA5;
}